.block {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid white;
    margin-bottom: 1.6rem;
}

.label {
    font-size: 1.3rem;
    color: #828282;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.box {
    font-size: 1.5rem;
    font-family: "Montserrat", "Roboto";
    color: black;
    height: 4rem;
    width: 93%;
    padding: 0;
    background-color: transparent;
    border: 0;
}

.white {
    color: white;
}

.box:focus {
    border: 0;
    filter: none;
}

.icon {
    height: 1em;
    margin: auto 0 auto 1rem;
    color: black;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #eeeeee;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #eeeeee;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #eeeeee;
}
