.block {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 1.6rem;
    width: 100%;
}

.border_white {
    border-bottom: 1px solid white;
}

.invalid {
    border-bottom: 1px solid #c30000;
}

.label {
    font-size: 1.3rem;
    color: #828282;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.box {
    font-family: "Montserrat", "Roboto";
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    width: 100%;
    padding: 0;
    background-color: transparent;
    border: 0;
}

.input {
    height: 4rem;
}

.textarea {
    height: 5rem;
    margin-top: 1.1rem;
    resize: none;
}

.white {
    color: white;
    width: 93%;
}

.box:focus {
    border: 0;
    filter: none;
}

.icon {
    height: 1em;
    margin: auto 0 auto 1rem;
    color: black;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #eeeeee;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #eeeeee;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #eeeeee;
}
