.btn_active {
    background-color: white;
    font-size: 1.49rem;
    font-weight: 500;
    width: 50%;
    padding: 0;
    border: 0;
}

.container_active {
    display: flex;
    height: 4.7rem;
    border-bottom: 2px solid #c30000;
    margin: auto 1.6rem;
    cursor: pointer;
}

.icon_active {
    filter: invert(8%) sepia(96%) saturate(5030%) hue-rotate(358deg) brightness(124%) contrast(113%);
    height: 2rem;
    margin: 1.2rem auto auto 1rem;
}

.text_active {
    color: #c30000;
    margin: 1.5rem 0 auto auto;
}

.btn {
    background-color: #f4f4f8;
    font-size: 1.49rem;
    font-weight: 500;
    width: 50%;
    padding: 0;
    border: 0;
    /* cursor: pointer; */
}

.container {
    display: flex;
    height: 4.7rem;
    margin: auto;
    cursor: pointer;
}

.icon {
    filter: invert(55%) sepia(13%) saturate(0%) hue-rotate(286deg) brightness(90%) contrast(94%);
    height: 2rem;
    margin: 1.2rem auto auto 1rem;
}

.text {
    color: #6f6f6f;
    margin: 1.5rem 0 auto auto;
}
