.block {
    display: flex;
    flex-direction: column;
    /* max-width: 400px; */
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 16px;
}

.title {
    text-align: left;
    margin: 6px 0 16px 0;
}

.photo {
    width: 100%;
    height: auto;
}

.reactions {
    display: flex;
    flex-direction: row;
    margin: 16px 0;
}

.comments_btn {
    background-color: white;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 1.2rem;
    border: 0;
    margin: auto 16px auto 0;
    padding: 0;
    margin-left: auto;
    margin-right: 0;
}

.push_right {
    margin: 0 0 0 auto;
}

.comment_btn {
    background-color: white;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 1.5rem;
    margin: auto 0 auto auto;
    border: 0;
    padding: 0;
}

@media only screen and (min-width: 1024px) {
    .photo {
        width: 90%;
        margin: 0 auto;
    }

    .title {
        font-size: 2.3rem;
    }
}
