html {
    /* set base font-size to equiv "10px", which is adapted to rem unit */
    font-size: 62.5%;
    /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
    /* thanks to @guardian, @victorbritopro and @eQRoeil */
    font-size: calc(1em * 0.625);
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-size: 1.6em;
    font-family: "Montserrat", "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    background-color: #c30000;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
    font-family: "Montserrat", "Roboto", sans-serif;
    font-size: 9px;
}

.icon_green {
    filter: invert(34%) sepia(85%) saturate(5750%) hue-rotate(98deg) brightness(92%) contrast(104%);
}

.icon_red {
    filter: invert(15%) sepia(76%) saturate(4057%) hue-rotate(353deg) brightness(87%) contrast(124%);
}

.icon_white {
    filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(174deg) brightness(100%) contrast(100%);
}

.error_message {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    z-index: 10;
    text-align: center;
    padding-bottom: 1rem;
}
