.background_image {
    display: flex;
    flex-direction: column;
    height: 88vh;
    padding: 0 4rem;
    background: rgb(0, 0, 0) url(../../images/home_background_groupomania.jpg) center no-repeat;
    background-size: cover;
    resize: both;
    border-radius: 0 0 5rem 5rem;
}

.logo {
    margin: 17vh auto 0 auto;
    width: 125px;
    z-index: 10;
}

.welcome {
    margin: 24vh auto 0 auto;
    width: 210px;
    color: white;
    text-align: center;
}

.title {
    font-size: 2.6rem;
    text-align: center;
    margin: 0;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
}

.message {
    font-size: 1.4rem;
    margin: 0;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
}

.background_blur {
    position: absolute;
    width: 100%;
    height: 100%;
    /* left: 0px; */
    top: 0px;
    background: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(4px);
    height: 88vh;
    border-radius: 0 0 5rem 5rem;
    /* Note: backdrop-filter has minimal browser support */
}

.input_list {
    margin-top: 20vh;
    z-index: 10;
}

.forgot_pass_link {
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 400;
    color: white;
    margin: 6vh auto auto auto;
    z-index: 10;
}

.spinner {
    display: flex;
    margin: auto;
}

/* TABLETS */
@media only screen and (min-width: 768px) {
    .background_image {
        padding: 0 28%;
    }

    .logo {
        margin: 18vh auto 0 auto;
        width: 160px;
    }

    .welcome {
        margin: 21vh auto 0 auto;
        width: 235px;
    }

    .title {
        font-size: 3rem;
    }

    .message {
        font-size: 1.6rem;
        font-weight: 500;
    }
}
