.container {
    display: flex;
    flex-direction: column;
    height: 86vh;
    overflow-y: scroll;
    background-color: white;
    border-radius: 0 0 5rem 5rem;
    padding: 0 2rem;
}

.head {
    display: flex;
    flex-direction: column;
    height: 5rem;
    padding: 0 2rem;
    margin-bottom: 1rem;
    background-color: #f4f4f8;
}

.tab {
    background-color: white;
    margin: 0 auto;
    width: 100%;
    flex-direction: row;
    display: flex;
}

.tab_border {
    border-bottom: 2px solid #c30000;
    width: 85%;
    margin: 0px auto;
}

.wrapper {
    margin-top: 2rem;
}

.title {
    font-size: 1.49rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin: 1.3rem auto;
    color: #c30000;
}

.form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.back_btn {
    border: 0;
    width: 46px;
    height: 46px;
    background-color: white;
    padding: 0;
    margin-left: 1rem;
    cursor: pointer;
}

.send_btn {
    margin: 1rem auto 3rem auto;
}
