.container {
    display: flex;
    flex-direction: column;
    height: 86vh;
    overflow-y: scroll;
    background-color: white;
    border-radius: 0 0 5rem 5rem;
    padding: 0 2rem;
}

.wrapper {
    margin-top: 2rem;
}

.title {
    margin: 1.6rem auto;
    text-align: center;
}
