.block {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    color: #828282;
    /* max-width: 500px; */
    margin-bottom: 1rem;
}

.photo {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    margin-right: 8px;
    object-fit: cover;
}

.text {
    margin: auto 0;
}

.text_division {
    margin: 0 8px;
    font-size: 1.8rem;
}

a {
    font-style: normal;
    font-weight: 500;
    font-size: 1.49rem;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.delete_btn {
    background-color: transparent;
    border: 0;
    padding: 0;
    width: 32px;
    margin-left: auto;
}

.delete_icon {
    width: 30px;
}

@media only screen and (min-width: 1024px) {
    .block {
        font-size: 1.7rem;
    }

    a {
        font-size: 1.7rem;
    }

    .photo {
        width: 40px;
        height: 40px;
        border-radius: 8px;
    }

    .delete_btn {
        width: 48px;
        height: 48px;
    }

    .delete_icon {
        width: 40px;
    }
}
