.container {
    display: flex;
    flex-direction: column;
    height: 87vh;
    overflow-y: scroll;
    background-color: white;
    border-radius: 0 0 5rem 5rem;
    padding: 0 2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.comment_form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment_wrap {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.6rem;
}

.btn {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    min-width: 50px;
    height: 50px;
    padding: 0;
    margin-top: 1rem;
}

.icon {
    height: 2.4rem;
}

.box {
    font-family: "Montserrat", "Roboto";
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    width: 100%;
    padding: 0;
    background-color: transparent;
    border: 0;
}
